.container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
}

.main-header .top{
    grid-area: 1 / 2 / 2 / 3;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 200px;
    place-content: center;
}

.top .left {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.top .right {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 150px));
}

.main-header .bottom {
    grid-area: 2 / 2 / 3 / 3;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.bottom .left {
    display: grid;
    grid-template-columns: minmax(80px, auto) 1fr;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    background-color: aquamarine;
    display: grid;
    padding: 10px;
}

.sidebar .left {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(10, minmax(20px, 40px));
    justify-items: start;
    align-items: center;
}


.main-content {
    grid-area: 3 / 2 / 4 / 3;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr minmax(300px, auto);
}

.main-content .left {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.card {
    width: 370px;
    height: 170px;
    background-color: white;
}

.main-content .right {
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    padding: 20px;
}

#announcement {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
}

#trending {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4px;
}