@font-face {
    font-family: bebasNeue;
    src: url(BebasNeue-Regular.ttf);
}

body {
    margin: 0;
    border: 0;
    padding: 00;
}

* {
    font-family: bebasNeue;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: minmax(auto 130px) 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
}

.main-header {
    padding: 20px;
    background-color: #f0f9ff;
}

.main-header .top{
    grid-area: 1 / 2 / 2 / 3;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    place-content: center;
}

.top .left {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.top .right {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-content: end;
    justify-items: end;
    align-items: center;
    gap: 30px;
}

.right a {
    text-decoration: none;
}

.main-header .bottom {
    grid-area: 2 / 2 / 3 / 3;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bottom .left {
    display: grid;
    grid-template-columns: minmax(80px, auto) 1fr;
    align-items: center;
}

.bottom .first-line {
    font-size: .8rem;
}

.bottom .second-line {
    font-size: 1rem;
}

.bottom .right {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    justify-items: end;
    align-items: center;
    gap: 15px;
}

.bottom button {
    width: 150px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    border: 0;
    background-color: #0284c7;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px;
    min-width: 200px;
    background-color: #0284c7;
}

.sidebar .left {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(10, minmax(20px, 40px));
    justify-items: start;
    align-items: center;
    background-color: inherit;
    gap: 15px;
}

.sidebar header {
    font-size: 1.5rem;
}

.sidebar .header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 40px;
}


.main-content {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: 1fr minmax(250px, auto);
    grid-template-rows: 1fr; 
}

.main-content .top {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.card .content {
    width: 330px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    font-size: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    padding: 30px;
    gap: 20px;
    transition: .3s;
}

.main-content .bottom {
    display: grid;
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 20px;
}

#announcement {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
    padding: 20px;
}

#trending {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4px;
    padding: 20px;
}

.profile-picture {
    border-radius: 100px;
}

.search-bar {
    border-radius: 50px;
    border: 0;
    padding: 10px;
    height: 40px;
    background-color: #d1d5db;
}

.search-bar:focus {
    background-color: white;
    border-color: #1e40af;
    font-size: .8rem;
}

.projectImage {
    object-fit: cover;
}

.iconContainer {
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr;
    gap: 8px;
    align-items: end;
}

.textBox {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
}

.textBox .content {
    font-size: 1rem;
    margin-top: 10px;
}

.one {
    margin-top: 0 !important;
}

.textBox p {
    font-size: .65rem;
    margin: 0;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #d1d5db;
    display: grid;
    place-self: end;
}

.vessel {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    margin-top: 10px;
    align-items: center;
    gap: 15px;
}

.vessel .divider {
    grid-column: span 2;
}

.vessel p {
    margin: 0;
    font-size: .7rem;
}

.last {
    margin-bottom: -15px;
}
.content:hover {
    box-shadow: 0px 0px 5px 2px #1e40af;
}